*{/* definicao de fonte e */
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* deixar elementos com limite de borda*/
}

html{
    min-height: 100vh;  /* altura minima tela de usuario*/
    position: relative; /* relativo para elementos de posiçao absoluta*/
}
/*  */
main{
    margin-bottom: 250px;/*espaçamento entre conteudo e rodape  */
}

/* NAVBAR*/
#logo{
    position: absolute;
    top: 10px;
    left: 9.5%;/* do tamanho da tela */
}

#logo img{
    width: 50px;/* ajuste de tamanho do logo */
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 20px;/* Espacamento interno barra de nav  */
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link{
    color: #fff;
    text-decoration: none;/* tira underline */
    transition: .5s;/* transition para hover */
    font-size: 14px;
}

#navbar .nav-link:hover{
    color: #999;
}

/* FOOTER */

footer{
    width: 100%;/* largura da pagina */
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}